<template>
  <div class="about">
    <h1>This is an about page</h1>
    <div>
      <h3>{{ count }}</h3>
      <div>
        <button @click="increase(2)">+</button>
        <span :style="{ display: 'inline-block', width: '100px' }"></span>
        <button @click="decrease">-</button>
      </div>
      <div :style="{ height: '50px' }"></div>
      <div>
        <button @click="undo">Undo</button>
        <span :style="{ display: 'inline-block', width: '100px' }"></span>
        <button @click="redo">Redo</button>
        <span :style="{ display: 'inline-block', width: '100px' }"></span>
        <button @click="clearUndo">ClearUndo</button>
      </div>
      <div :style="{ height: '50px' }"></div>
      <div>{{ undoList }}</div>
      <div :style="{ height: '50px' }"></div>
      <div>{{ redoList }}</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  computed: {
    ...mapState("counter", ["count"]),
    ...mapGetters("counter", ["undoList", "redoList", "canUndo", "canRedo"]),
  },
  methods: {
    ...mapMutations("counter", [
      "increase",
      "decrease",
      "undo",
      "redo",
      "clearUndo",
    ]),
  },
};
</script>
