<template>
  <div>
    <a-upload
      :multiple="false"
      :custom-request="onRequest"
      :show-upload-list="false"
    >
      <a-button> <a-icon type="upload" /> Click to Upload </a-button>
    </a-upload>
    <div class="result">
      <div>
        <strong>obs: </strong>
        <span>{{ adata.o }}</span>
      </div>
      <div>
        <strong>X: </strong>
        <span>{{ adata.x }}</span>
      </div>
      <div>
        <strong>var: </strong>
        <span>{{ adata.v }}</span>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.result > div {
  margin-top: 20px;
}
</style>

<script>
import { readH5 } from "@/utils/test";

export default {
  data() {
    return {
      adata: {},
    };
  },
  methods: {
    onRequest(e) {
      // console.log("e: ", e.file.path);
      const adata = readH5(e.file.path);
      this.adata = adata;
    },
  },
};
</script>
