<template>
  <div class="container">
    <div class="header">
      <a-icon type="undo" />
      <a-dropdown :trigger="['click']">
        <a-icon type="caret-down" class="mr-5" />
        <a-menu slot="overlay">
          <a-menu-item key="0">
            <a href="http://www.alipay.com/">1st menu item</a>
          </a-menu-item>
          <a-menu-item key="1">
            <a href="http://www.taobao.com/">2nd menu item</a>
          </a-menu-item>
          <a-menu-divider />
          <a-menu-item key="3">
            3rd menu item
          </a-menu-item>
        </a-menu>
      </a-dropdown>
      <a-icon type="redo" />
      <a-divider type="vertical" />
      <a-icon
        type="menu-unfold"
        @click="drawerVisible = true"
        v-show="drawerVisible === false"
      />
      <a-icon
        type="menu-fold"
        @click="drawerVisible = false"
        v-show="drawerVisible === true"
      />
    </div>
    <div class="main">
      <div class="aside">
        <a-tabs>
          <a-tab-pane key="1" tab="Tab Title 1">
            <p>Content of Tab Pane 1</p>
            <p>Content of Tab Pane 1</p>
            <p>Content of Tab Pane 1</p>
          </a-tab-pane>
          <a-tab-pane key="2" tab="Tab Title 2">
            <p>Content of Tab Pane 2</p>
            <p>Content of Tab Pane 2</p>
            <p>Content of Tab Pane 2</p>
          </a-tab-pane>
        </a-tabs>
      </div>
      <div class="chart tw-bg-green-200">
        <grid-layout
          :layout.sync="layout"
          :col-num="12"
          :row-height="30"
          :is-draggable="true"
          :is-resizable="true"
          :is-mirrored="false"
          :vertical-compact="true"
          :margin="[10, 10]"
          :use-css-transforms="true"
        >
          <grid-item
            v-for="item in layout"
            :x="item.x"
            :y="item.y"
            :w="item.w"
            :h="item.h"
            :i="item.i"
            :key="item.i"
            drag-ignore-from=".vue-plotly"
          >
            <a-card :style="{ height: '100%' }" class="tw-shadow-sm">
              <v-plot
                v-bind="scatterPlotProps"
                :style="{ height: '100%' }"
                ref="scatterPlot"
                v-if="item.i === '0'"
              ></v-plot>
              <p v-else>{{ item.i }}</p>
            </a-card>
          </grid-item>
        </grid-layout>
      </div>
      <a-drawer
        placement="right"
        :closable="false"
        :mask="false"
        :get-container="false"
        :wrap-style="{ position: 'absolute' }"
        :visible="drawerVisible"
      >
        <!-- <template #handle>
          <a-icon type="menu-fold" />
        </template> -->
        <p>Some contents...</p>
        <BaseButton>Upload</BaseButton>
      </a-drawer>
    </div>
    <div class="footer"></div>
  </div>
</template>

<style lang="less" scoped>
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  position: relative;

  .chart {
    flex: 1;
  }

  .aside {
    border-right: 1px solid #e6e6e6;
  }

  .ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }

  .ant-card /deep/ .ant-card-body {
    height: 100%;
  }
}

.header {
  background: #f5f5f5;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  .anticon {
    font-size: 20px;

    &.anticon-caret-down {
      font-size: 10px;
    }
  }

  .ant-divider-vertical {
    top: 0;
    height: 1.2em;
    background: rgba(0, 0, 0, 0.4);
  }

  .mr-5 {
    margin-right: 5px;
  }

  .ml-5 {
    margin-left: 5px;
  }
}

.footer {
  background: #e6e6e6;
  height: 30px;
}
</style>

<script>
import { GridLayout, GridItem } from "vue-grid-layout";
import { loadData } from "@/utils/utils";
import BaseButton from "@/components/BaseButton";

const testLayout = [
  { x: 0, y: 0, w: 10, h: 16, i: "0" },
  { x: 2, y: 0, w: 2, h: 4, i: "1" },
  { x: 4, y: 0, w: 2, h: 5, i: "2" },
  { x: 6, y: 0, w: 2, h: 3, i: "3" },
  { x: 8, y: 0, w: 2, h: 3, i: "4" },
  { x: 10, y: 0, w: 2, h: 3, i: "5" },
  { x: 0, y: 5, w: 2, h: 5, i: "6" },
  { x: 2, y: 5, w: 2, h: 5, i: "7" },
  { x: 4, y: 5, w: 2, h: 5, i: "8" },
  { x: 6, y: 3, w: 2, h: 4, i: "9" },
  { x: 8, y: 4, w: 2, h: 4, i: "10" },
  { x: 10, y: 4, w: 2, h: 4, i: "11" },
  { x: 0, y: 10, w: 2, h: 5, i: "12" },
  { x: 2, y: 10, w: 2, h: 5, i: "13" },
  { x: 4, y: 8, w: 2, h: 4, i: "14" },
  { x: 6, y: 8, w: 2, h: 4, i: "15" },
  { x: 8, y: 10, w: 2, h: 5, i: "16" },
  { x: 10, y: 4, w: 2, h: 2, i: "17" },
  { x: 0, y: 9, w: 2, h: 3, i: "18" },
  { x: 2, y: 6, w: 2, h: 2, i: "19" },
];

export default {
  components: {
    GridLayout,
    GridItem,
    BaseButton,
  },
  data() {
    return {
      obs: {},
      drawerVisible: false,
      layout: testLayout,
    };
  },
  computed: {
    scatterPlotProps() {
      const data = [
        {
          type: "scattergl",
          mode: "markers",
          // marker: {
          //   color: "rgb(152, 0, 0)",
          //   line: {
          //     width: 1,
          //     color: "rgb(0,0,0)",
          //   },
          // },
          x: this.obs.tSNE1 || [],
          y: this.obs.tSNE2 || [],
          transforms: [
            {
              type: "groupby",
              groups: this.obs.clusterName || [],
              // styles: [
              //   {target: 'Moe', value: {marker: {color: 'blue'}}},
              //   {target: 'Larry', value: {marker: {color: 'red'}}},
              //   {target: 'Curly', value: {marker: {color: 'black'}}}
              // ]
            },
          ],
        },
      ];

      return {
        data,
      };
    },
  },
  async created() {
    const obs = await loadData();
    // console.log("obs: ", obs);
    this.obs = obs;
  },
  mounted() {
    // console.log(this.$refs.scatterPlot);
  },
};
</script>
