<template>
  <div class="tw-mx-auto tw-bg-gray-200 tw-w-4/5 tw-h-screen tw-relative">
    <div class="tw-absolute tw-left-0 tw-top-0">
      <a-button-group>
        <a-button icon="select" @click="onSetSelectMode"></a-button>
        <a-button icon="drag" @click="onSetPanMode"></a-button>
      </a-button-group>
    </div>
  </div>
</template>

<script>
import { ScatterGL, Dataset } from "scatter-gl";
import _ from "lodash";
import { schemePaired } from "d3-scale-chromatic";
import obsData from "@/utils/data.json";

export default {
  mounted() {
    const category = _.uniq(obsData.clusterName);
    const colorMap = _.zipObject(category, schemePaired);
    this.scatterGL = new ScatterGL(this.$el, {
      onSelect(indexes) {
        console.log("onSelect: ", indexes);
      },
      // onClick(index) {
      //   console.log("onClick: ", index);
      // },
      // onHover(index) {
      //   console.log("onHover: ", index);
      // },
      pointColorer(index, selectedIndices) {
        if (selectedIndices.size > 0 && !selectedIndices.has(index)) {
          return "rgba(227, 227, 227, 0.7)";
        }
        const clusterName = obsData.clusterName[index];
        return colorMap[clusterName];
      },
      // styles: {
      //   point: {
      //     colorUnselected: "rgba(227, 227, 227, 0.7)",
      //     colorNoSelection: "rgba(117, 117, 217, 0.7)",
      //     colorSelected: "rgba(250, 102, 102, 0.7)",
      //     colorHover: "rgba(118, 11, 79, 0.7)",
      //   },
      // },
      camera: {
        zoom: 1,
      },
      // onCameraMove(cameraPosition, cameraTarget) {
      //   console.log("cameraTarget: ", cameraTarget);
      //   console.log("cameraPosition: ", cameraPosition);
      // },
    });
    const points = _.times(_.size(obsData["3DtSNE1"]), index => [
      obsData["3DtSNE1"][index],
      obsData["3DtSNE2"][index],
      obsData["3DtSNE3"][index],
    ]);
    const metadata = _.times(_.size(obsData["clusterName"]), index => ({
      label: `${obsData["clusterName"][index]}`,
    }));
    const dataset = new Dataset(points, metadata);
    this.scatterGL.render(dataset);
    // console.log("scatterGL: ", this.scatterGL);
  },
  methods: {
    onSetSelectMode() {
      this.scatterGL.setSelectMode();
    },
    onSetPanMode() {
      this.scatterGL.setPanMode();
    },
  },
};
</script>
