<template>
  <div class="wrapper" ref="wrapper">
    <div class="scroller" ref="scroller">
      <div
        class="item"
        v-for="(item, index) in items"
        :key="index"
        :id="`item-${index + 1}`"
      >
        Item {{ index + 1 }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: Array.from({ length: 20 }),
    };
  },
  mounted() {
    // console.log(this.$refs.scroller);
    const itemDiv = document.querySelector("#item-10");
    // console.log("itemDiv offsetTop: ", itemDiv.offsetTop);
    // this.$refs.wrapper.scrollTop = itemDiv.offsetTop;
    // this.$refs.wrapper.scrollTo({
    //   top: itemDiv.offsetTop,
    //   behavior: "smooth",
    // });
    itemDiv.scrollIntoView({
      behavior: "smooth",
      block: "center",
    });
  },
};
</script>

<style>
.wrapper {
  width: 300px;
  height: 200px;
  margin: 200px auto;
  background: gray;
  overflow: scroll;
}

.scroller {
  width: 200px;
  height: 1000px;
  background: lightblue;
  margin: 0 auto;
  position: relative;
}

.item {
  height: 50px;
}

.item:nth-of-type(even) {
  background: cornflowerblue;
}
</style>
