<template>
  <div class="vue-plotly"></div>
</template>

<style lang="css">
.vue-plotly {
  min-height: 400px;
}
</style>

<script>
import Plotly from "plotly.js";
import debounce from "lodash/debounce";
import { addListener, removeListener } from "resize-detector";

const eventNames = [
  "afterexport",
  "afterplot",
  "animated",
  "animatingframe",
  "animationinterrupted",
  "autosize",
  "beforeexport",
  "buttonclicked",
  "click",
  "clickannotation",
  "deselect",
  "doubleclick",
  "framework",
  "hover",
  "legendclick",
  "legenddoubleclick",
  "relayout",
  "restyle",
  "redraw",
  "selected",
  "selecting",
  "sliderchange",
  "sliderend",
  "sliderstart",
  "transitioning",
  "transitioninterrupted",
  "unhover",
];

const updateEvents = [
  "plotly_restyle",
  "plotly_redraw",
  "plotly_relayout",
  "plotly_doubleclick",
  "plotly_animated",
];

const preLayout = {};

const preConfig = {
  displaylogo: false,
  scrollZoom: false,
  editable: false,
  displayModeBar: true,
  modeBarButtonsToRemove: ["select2d", "lasso2d"],
};

export default {
  props: {
    data: {
      type: Array,
      default() {
        return [];
      },
    },
    layout: {
      type: Object,
    },
    config: {
      type: Object,
    },
    frames: {
      type: Array,
      default() {
        return [];
      },
    },
    revision: Number,
    useResize: {
      type: Boolean,
      default: true,
    },
    debug: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    framesSize() {
      return this.frames.length;
    },
  },
  watch: {
    data: {
      handler() {
        this.updatePlotly(false, this.update, false);
      },
      deep: true,
    },
    config: {
      handler() {
        this.updatePlotly(false, this.update, false);
      },
      deep: true,
    },
    layout: {
      handler() {
        this.updatePlotly(false, this.update, false);
      },
      deep: true,
    },
    revision() {
      this.updatePlotly(false, this.update, false);
    },
    framesSize() {
      this.updatePlotly(false, this.update, false);
    },
  },
  created() {
    this.p = Promise.resolve();
    this.resizeHandler = null;
    this.handlers = {};
  },
  mounted() {
    this.unmounting = false;
    if (this.debug) {
      window.gd = this.$el;
    }
    this.updatePlotly(true, this.$listeners.initialized, true);
  },
  beforeDestroy() {
    this.unmounting = true;

    this.figureCallback(this.$listeners.purge);

    if (this.resizeHandler) {
      removeListener(this.$el, this.resizeHandler);
      this.resizeHandler = null;
    }

    this.removeUpdateEvents();

    Plotly.purge(this.$el);
  },
  // activated() {
  //   if (this.useResize) {
  //     Plotly.relayout(this.$el, { autosize: true });
  //   }
  // },
  methods: {
    updatePlotly(
      shouldInvokeResizeHandler,
      figureCallbackFunction,
      shouldAttachUpdateEvents
    ) {
      this.p = this.p
        .then(() => {
          if (!this.$el) {
            let error;
            if (this.unmounting) {
              error = new Error("Component is unmounting");
              error.reason = "unmounting";
            } else {
              error = new Error("Missing element reference");
            }
            throw error;
          }
          const layout = { ...preLayout, ...this.layout };
          const config = { ...preConfig, ...this.config };
          return Plotly.react(this.$el, {
            data: this.data,
            layout,
            config,
            frames: this.frames,
          });
        })
        .then(() => this.syncWindowResize(shouldInvokeResizeHandler))
        .then(this.syncEventHandlers)
        .then(() => this.figureCallback(figureCallbackFunction))
        .then(shouldAttachUpdateEvents ? this.attachUpdateEvents : () => {})
        .catch(err => {
          if (err.reason === "unmounting") {
            return;
          }
          console.error("Error while plotting:", err); // eslint-disable-line no-console
          if (this.$listeners.error) {
            this.$listeners.error(err);
          }
        });
    },
    attachUpdateEvents() {
      if (!this.$el || !this.$el.removeListener) {
        return;
      }

      updateEvents.forEach(updateEvent => {
        this.$el.on(updateEvent, this.handleUpdate);
      });
    },
    removeUpdateEvents() {
      if (!this.$el || !this.$el.removeListener) {
        return;
      }

      updateEvents.forEach(updateEvent => {
        this.$el.removeListener(updateEvent, this.handleUpdate);
      });
    },
    handleUpdate() {
      this.figureCallback(this.$listeners.update);
    },
    figureCallback(callback) {
      if (typeof callback === "function") {
        const { data, layout } = this.$el;
        const frames = this.$el._transitionData
          ? this.$el._transitionData._frames
          : null;
        const figure = { data, layout, frames };
        callback(figure, this.$el);
      }
    },
    syncWindowResize(invoke) {
      if (this.useResize && !this.resizeHandler) {
        this.resizeHandler = debounce(
          () => {
            Plotly.relayout(this.$el, { autosize: true });
          },
          100,
          { leading: true }
        );
        addListener(this.$el, this.resizeHandler);
        if (invoke) {
          this.resizeHandler();
        }
      } else if (!this.useResize && this.resizeHandler) {
        removeListener(this.$el, this.resizeHandler);
        this.resizeHandler = null;
      }
    },
    // Attach and remove event handlers as they're added or removed from props:
    syncEventHandlers() {
      eventNames.forEach(eventName => {
        const prop = this.$listeners[eventName];
        const handler = this.handlers[eventName];
        const hasHandler = Boolean(handler);

        if (prop && !hasHandler) {
          this.addEventHandler(eventName, prop);
        } else if (!prop && hasHandler) {
          // Needs to be removed:
          this.removeEventHandler(eventName);
        } else if (prop && hasHandler && prop !== handler) {
          // replace the handler
          this.removeEventHandler(eventName);
          this.addEventHandler(eventName, prop);
        }
      });
    },
    addEventHandler(eventName, prop) {
      this.handlers[eventName] = prop;
      this.$el.on(this.getPlotlyEventName(eventName), this.handlers[eventName]);
    },
    removeEventHandler(eventName) {
      this.$el.removeListener(
        this.getPlotlyEventName(eventName),
        this.handlers[eventName]
      );
      delete this.handlers[eventName];
    },
    getPlotlyEventName(eventName) {
      return "plotly_" + eventName;
    },
  },
};
</script>
